<div class="container" ng-controller="calculator">
  <div class="page-header">
    <h1>IBU Calculator</h1>
  </div>

  <form>
    <div class="row">
      <div class="col-xs-3 form-group">
        <label for="volume">Preboil Volume (Gal)</label>
        <input class="form-control"
               id="volume"
               type="number"
               value="6.5" />
      </div>

      <div class="col-xs-3 form-group">
        <label for="gravity">Preboil Gravity (SG)</label>
        <input class="form-control"
               id="gravity"
               type="number"
               value="1.048" />
      </div>
    </div>

    <hr />
    
    <div class="row">
      <div class="col-xs-3 form-group">
        <label for="hop-type">Hop Type</label>
        <input class="form-control"
               id="hop-type"
               placeholder="Cascade" />
      </div>

      <div class="col-xs-3 form-group">
        <label for="weight">Weight (Oz)</label>
        <input class="form-control"
               id="weight"
               placeholder="1.0" />
      </div>

      <div class="col-xs-3 form-group">
        <label for="boil-time">Boil Time (Minutes)</label>
        <input class="form-control"
               id="boil-time"
               placeholder="60" />
      </div>

      <div class="col-xs-3 form-group">
        <label for="ibu">IBU</label>
        <input class="form-control"
               id="ibu"
               value="25"
               disable />
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3 form-group">
        <label for="hop-type">Hop Type</label>
        <input class="form-control"
               id="hop-type"
               placeholder="Cascade" />
      </div>

      <div class="col-xs-3 form-group">
        <label for="weight">Weight (Oz)</label>
        <input class="form-control"
               id="weight"
               placeholder="1.0" />
      </div>

      <div class="col-xs-3 form-group">
        <label for="boil-time">Boil Time (Minutes)</label>
        <input class="form-control"
               id="boil-time"
               placeholder="60" />
      </div>

      <div class="col-xs-3 form-group">
        <label for="ibu">IBU</label>
        <input class="form-control"
               id="ibu"
               value="25"
               disable />
      </div>
    </div>

    <div class="row">
      <div class="col-xs-11">
        <p class="lead text-right">Total Estimated IBU: 70</p>
      </div>
    </div>
  </form>
</div>
